addplayer-modal {
    .placeholder{
        text-align: center;
        display: block;
        margin: auto;
        width: 100px;
        height: 100px;
    }
    .camerabutton{
        margin: auto;
        display: block;
    }
   }